feh --bg-scale ~/.wallpapers/wallpaper

cmst &
xbanish &
picom --experimental-backends -b
urxvtd -q -o -f
volumeicon &

~/.local/bin/statusbar

export _JAVA_AWT_WM_NONREPARENTING=1
#export _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true"
export PATH="${PATH}:$HOME/.local/bin"
export VISUAL=/usr/bin/leafpad

#/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1
