
wallpaper="$(cat ~/.fehbg | grep feh | awk '{print $4}' | sed 's/\x27//g')"

feh --bg-scale $wallpaper
picom &
volumeicon &
cmst & 
xbanish &
xss-lock -- i3lock -nti $wallpaper &

export _JAVA_AWT_WM_NONREPARENTING=1
export _JAVA_OPTIONS="-Dawt.useSystemAAFontSettings=on -Dswing.aatext=true -Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel"
export PATH="${PATH}:$HOME/.local/bin"

~/.local/bin/statusbar
